* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width:100%;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-image: url("./img/space.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.board{
    height: 800px;
    width:700px;
    border: solid 1px white;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);



}

.snakeHead{
  background-color: bisque;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position:center;
  border-radius: 15px;
  z-index: 99;
  transform: scale(1);
  
}
.snakeBody{
  background-color: green;
  border-radius: 50px;
  border: solid 1px black;


}

.food{
background-image: url("./img/apple.png");
background-repeat: no-repeat;
background-size: 40px 45px;
}

.score{
  position: fixed;
  color: white;
  left: 60%;
  top: 3%;
}

.bigScore{
color: white;
position: fixed;
top: 30%;
left: 33%;
font-size: 150px;
text-align: center;

}
.h2{
  visibility: hidden;
    color: white;
    position: fixed;
    font-size: 50px;
    top:50%;
    left: 40%;
    text-align: center;
}
